[submodule "vendor/cxxopts"]
	path = vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "vendor/filesystem"]
	path = vendor/filesystem
	url = https://github.com/gulrak/filesystem.git
